<!DOCTYPE html>
<html>

<head>
  <title>
    Bulletin Board
  </title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">

</head>

<body>
  <div id='background'>
    <img src="../images/vincent-van-zalinge-387887-unsplash.jpg" class="stretch" />
  </div>

  <header>
    <h1> Bulletin Board </h1>
    <div class="navbar">
      <ul>
        <li> <a href="/">Home</a></li>
        <li> <a href="addpost">Add Post</a></li>
      </ul>
    </div>
  </header>
  <div class='middle'>
  <section id='printing'>

    <% for(let i = data.length-1; i >= 0; i--) { %>
<div id='post'>
    <h2><%= data[i].title %> </h2>
    <p><%= data[i].body %> </p>
    ---------------------------------------
  </div>
    <% } %>

  </section>
</div>
  <footer>
    created by: Baukje Knol
  </footer>

</body>

</html>
